@charset "UTF-8";
body {
	font-family: BIZ UDPゴシック;
	text-align: center;
	font-size: 32px;
}

hr {
	border: 1;
	color: black;
}

.contact-form{
	margin:0 auto;
}
.contact-form table, .contact-form .submit-btn{
	width:100%;
    margin-bottom:15px;
}

.contact-form th{
	padding:8px 0;
 	vertical-align:top;
	text-align:right;
	width:50%;
}
.contact-form td{
	vertical-align:top;
	text-align:left;
	width:50%;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right {
    position: absolute;
    right: 0px;
}

}

.errorMsg {
	color: red;
}
